.sidebar {
  display: flex;
  padding: 20px 0px 10px 10px;
  left: 0;
  height: 100%;
  position: fixed;
  border-right: 1px solid #000;
  flex: 0.5;
  max-width: 200px;
}

.sidebar-container {
  margin: 10px 0;
  display: flex;
  width: 100%;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.sidebar-option {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.8;
}

.sidebar-option > p {
  color: #000;
  font-size: 14px;
}

.link {
  display: flex;
  flex-direction: column;
}

.link-tag {
  display: flex;
  align-items: center;
  padding: 5px 0;
  width: 100%;
}

.link-tag:hover {
  background-color: #fff7f3;
  color: #fff !important;
  border-right: 5px solid #000;
}

.link-tag > .MuiSvgIcon-root {
  font-size: 18px;
  margin-right: 5px;
  color: #000;
}

.tags {
  display: flex;
  flex-direction: column;
  color: #000;
  margin: 0px 20px;
}

.tags > p {
  margin: 5px 0;
  cursor: pointer;
}

.tags > p:hover {
  opacity: 0.8;
}
