header {
  min-width: fit-content;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
  min-height:5vh;
  color: #000 !important;
}
.header-container {
  padding: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #ECDAD1;
}

.header-left {
  display: flex;
  flex-direction: row;
  margin: 0px 10px;
  align-items: center;
}

.header-left > a > img {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  object-fit: contain;
  padding: 0px 0px;
}

.header-left > a > img:hover {
  cursor: pointer;
}

.header-left > h3 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.header-left > h3:hover {
  border-radius: 33px;
}

.header-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-middle > .header-search-container {
  display: flex;
  padding: 10px 10px;
  
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #000;
}

.header-search-container > input {
  border: none;
  width: 100%;
  background-color: transparent;
  color: #000;
  margin-left: 5px;
  outline: none;
}

.header-search-container > .MuiSvgIcon-root {
  color: #000000;
}

.header-right {
  display: flex;
}

.header-right > .header-right-container {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.header-right-container > .MuiSvgIcon-root {
  margin: 0px 15px;
  color: #000;
  cursor: pointer;
}

.header-right-container > .MuiSvgIcon-root:hover {
  opacity: 0.8;
}

.header-right-container > img {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header-middle {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-middle {
    width: calc(20 * 2vw);
  }

  .header-search-container {
    width: 100%;
  }
}
