.main{
  height: auto;
}
.stack-index {
  background-color: #f0e2db;
  color: #000 !important;
}
.main-desc {
  display: flex;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  font-size: small;
}

.info > p {
  color: #fff;
  margin: 0 10px;
}

.info > p > span {
  color: #000;
  margin: 0 5px;
}

.arrow {
  font-size: 2rem;
  color: #000;
}

.all-options > .MuiSvgIcon-root {
  color: #0000;
  font-size: large;
  margin: 5px 0;
}
.all-questions{
  padding: 20px 10px;
}
.answers, .question-container{
  border: 1px solid #000;
  background-color: transparent;
}
pre {
  display: flex;
  width: 90px;
  flex-wrap: wrap;
}
.ql-container.ql-snow {
  border: 0px;
}
.button {
  background-color: #385577;
  color: #fff;
}
.button:hover {
  cursor: pointer;
  background-color: #000;
  color: #263142;
}
.comments > p:hover{
  opacity: 0.8;
}

.main-top > h2, .question-answer > div, .author > small, .comments > p, .auth-details > p {
  color: #000;
}